* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.btn-login,
.btn-logout {
  padding: 5px;
  margin: 5px;
  background-color: black;
  color: white;
}
.logout-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
